if SHIELD_JEGAN_LEFT

config ZMK_KEYBOARD_NAME
    default "jegan"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_JEGAN_LEFT

if SHIELD_JEGAN_LEFT || SHIELD_JEGAN_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_JEGAN_LEFT || SHIELD_JEGAN_RIGHT
